:root {
	--primary-color: #8a2387;
	--primary-color-rgb: 138, 35, 135;
	--secondary-color: #e94057;
	--secondary-color-rgb: 233, 64, 87;
	--tertiary-color: #f27121;
	--tertiary-color-rgb: 242, 113, 33;
}
html, body {
	box-sizing: border-box;
}
html {
	background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color), var(--tertiary-color)) no-repeat center center;
	min-height: 100%;
	min-width: 100%;
	padding: 25px;
}
body {
	height: 100%;
	width: 100%;
    margin: 0;
	display: flex;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Quicksand', sans-serif;
}
#to-do {
	margin: 0 auto;
	background: #FFF;
	max-width: 400px;
	min-width: 350px;
	padding: 25px;
	border-radius: 20px;
	box-shadow:	0 2.8px 2.2px rgba(0, 0, 0, 0.02),
				0 6.7px 5.3px rgba(0, 0, 0, 0.028),
				0 12.5px 10px rgba(0, 0, 0, 0.035),
				0 22.3px 17.9px rgba(0, 0, 0, 0.042),
				0 41.8px 33.4px rgba(0, 0, 0, 0.05),
				0 100px 80px rgba(0, 0, 0, 0.07);
}
.to-do__list__item {
	color: var(--primary-color);
	padding: 12px;
    background: rgba(var(--primary-color-rgb), 0.1);
	margin-bottom: 5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	line-height: 1;
	position: relative;
}
.to-do__list__item input {
	margin: 0 10px 0 0;
}
.to-do__list__item input[type=checkbox] {
	-webkit-appearance: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.to-do__list__item input[type=checkbox]:checked + p:before,
.to-do__list__item input[type=checkbox]:hover + p:before {
	width: 100%;
	transition: 0.2s width ease;
}

.to-do__list__item p {
	margin: 0;
	position: relative;
	pointer-events: none;
	line-height: 1.2rem;
}
.to-do__list__item p:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 1;
	height: 3px;
	width: 0;
	margin-top: -1px;
	background-color: var(--primary-color);
	transform-origin: left;
	transition: 0.2s width ease;
}
#heading h1 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: bold;
	color: var(--primary-color);
}
#heading h1 small {
	display: block;
	font-size: 45%;
	opacity: 0.6;
	color: rgba(var(--primary-color-rgb), 0.5);
}
.to-do__form {
	display: flex;
	margin-top: 15px;
}
.to-do__form input {
	flex: 2;
	border: 2px solid rgba(var(--primary-color-rgb), 0.1);
	border-radius: 5px;
	padding: 15px;
	color: var(--primary-color);
	margin-right: 5px;
	box-shadow: none;
	outline: none;
	transition: 0.5s all ease;
}
.to-do__form input:hover {
	border-color: rgba(var(--primary-color-rgb), 0.8);
	transition: 0.5s all ease;
}
::placeholder {
	color: rgba(var(--primary-color-rgb), 0.5);
}
.to-do__form button {
	flex: 1;
	background: var(--primary-color);
	color: #FFF;
	border-radius: 5px;
	box-shadow: none;
	border: 0 none;
	cursor: pointer;
	outline: none;
	transition: 0.5s transform ease;
}
.to-do__form button:hover {
	transform: translateY(-5px);
	transition: 0.5s transform ease;
}
#notifications {
	display: block;
	margin: 15px 0;
	text-align: center;
	color: var(--secondary-color);
	background-color: rgba(var(--secondary-color-rgb), 0.1);
	border-radius: 5px;
	padding: 12px 0 15px;
	font-size: 1.1rem;
	font-weight: bold;
}